<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Department</title>
</head>
<body>
<div style="text-align:center">
    <form th:object="${updateDepartment}" th:action="@{'/department/' + ${hospitalId} + '/saveDepart/' + ${departmentId}}" th:method="post">
<div class="form-group">
    <label for="name" class="form-label" >Name</label>
    <input type="text" th:field="*{name}" id="name" class="form-control form-control-lg" >
</div>
        <button type="submit">Update Department</button>
    </form>


</div>
</body>
</html>